
# Binaries and intermediate files:
.*.swp
*~
ebin/*
purity
src/purity_bifs.erl

# Documentation related:
doc/edoc-info
doc/*.html
doc/*.png
doc/*.css
!doc/style.css
README.html

# Byproducts of coredump script:
*.core
*.labl
*.dump

# etags
TAGS

# Common suffix of result/stats files:
*.out
*.sts
