%%-*- erlang-indent-level: 2 -*-
{lib_dirs, ["deps"]}.

{erl_opts, [ debug_info
           , nowarn_shadow_vars
           , warn_exported_vars
           , warn_unused_vars
           , warn_unused_import
           , warn_missing_spec
           , {d, 'VSN', "0.2"}
           ]}.

{cover_enabled, true}.

{cover_print_enabled, true}.

{deps, [ ]}.

{pre_hooks, [ {compile, "scripts/purity_bifs predef/cheats predef/bifs predef/primops > src/purity_bifs.erl"}
            ]}.

